/* General Configuration */
html,body {
    background-image: url(../images/background.png);
    background-size: cover;
    height: 100%;
    font-family: 'Goldman', cursive!important;
}

/* Menu */
.dropbtn {
    background-color: transparent;
    color: white;
    font-size: 40px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    text-align: center;
    right: -60px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    background-color: rgba(0,0,0,0.5);
    border-bottom: 2px solid transparent;
    text-decoration: none;
    display: block;
    transition: 0.4s;
}

.dropdown-content a:hover {
    transform: scale(1.05);
    color: #FFC312!important;
    background-color: rgba(0,0,0,0.8) !important;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: #FFC312;
}

.top-menu {
    display: flex;
    flex-wrap: wrap;
}

.title-menu {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    padding: 7px;
}

.title-menu h1 {
    margin: 0 auto;
}

.title-menu h1 span{
    color: #FFC312;
}

.menu-menu {
    padding: 7px;
}

/* after calendar */

.div-info-calendar {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.div-info-calendar p {
    width: 33%;
    color: #fff;
    text-align: center;
}

/* form-index */

.form-index {
    display: flex;
    text-align: center;
    width: 100%;
}

.form-index form {
    margin: 0 auto 10px;
}

.btn-form-index:hover {
    background-color: #FFC312;
    transform: 0.4s;
}

/* Information index */

.info-div-date {
    background-image: linear-gradient( rgba(0,0,0,0.8), transparent);
    border-top: 2px solid #fff;
    border-radius: 2px;
}

.info-div-date h2 {
    color: #FFC312;
    text-align: center;
    padding: 10px;
}

.info-details {
    margin: 10px;
    color: #fff;
    background-color: #000;
}

.itm-info {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    font-size: 25px;
    margin: 5px 0px;
    padding: 0px 10px;
    border-radius: 3px;
    background-color: #ffc412c9;
}

.itm-info i {
    color: #FFF;
    margin-right: 15px;
    margin-top: 10px;
    font-size: 50px;
}

.itm-info p {
    line-height: 60px;
}

/* Button calendar */

.button-calendar {
    color: #FFC312!important;
    background-color: transparent;
    padding: 5px 7px;
    border: 1px solid #FFC312;
    transition: 0.4s;
    margin-top: 10px;
    height: 33px;
}
.button-calendar:hover {
    transform: 0.4s;
    color: #FFF!important;
    background-color: #FFC312;
    border: 1px solid #FFF;
}

.button-form {
    margin: 0px 20px;
}

/* information pages */

.div-infos {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.top-infos {
    color:#FFC312;
    padding: 20px;
    border-radius: 2px;
    font-size: 20px;
    font-weight: 500;
    background-color: rgba(0,0,0,0.9);
    border-top: 2px solid#fff ;
}

.infos {
    margin: 5px 0px;
    padding: 10px;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.7);
}

.description-info {
    text-align: left;
}
